.main_wrapper {
  @include flex();
}
.award_txt {
  width: 100%;
  margin-bottom: 16px;
  &__row {
    @include flex($justifyContent: flex-start, $alignItems: flex-start);
    padding-bottom: 24px;
    &__property {
      flex-shrink: 0;
      font-weight: $weight-thin;
      font-size: 4rem;
      width: 28%;
    }
    &__contents {
      padding-top: 4px;
      font-size: 2rem;
      line-height: 1.8;
      td {
        padding-right: 8px;
      }
    }
  }
}

.award_img {
  text-align: center;
  width: 50%;
  &__svg {
    width: 50%;
    min-width: 180px;
  }
  &__cap {
    font-size: 1.2rem;
    color: $gray;
  }
}

@media screen and (max-width: $md) {
  .award_txt {
    width: 100%;
    margin-bottom: 16px;
    &__row {
      display: block;
      &__property {
        width: 100%;
      }
    }
  }
  .award_img {
    text-align: right;
    width: 30%;
    padding-left: 16px;
    &__svg {
      width: 100%;
      min-width: 100px;
    }
    &__cap {
      font-size: 1.1rem;
    }
  }
}
@media screen and (max-width: 720px) {
  .award_txt {
    &__row {
      &__property {
        font-size: 3rem;
      }
      &__contents {
        padding-top: 8px;
        font-size: 1.6rem;
        line-height: 1.5;
        td {
          padding-right: 4px;
        }
      }
    }
  }
  .award_img {
    &__svg {
      width: 80%;
    }
  }
}

@media screen and (max-width: $sm) {
  .award_img--sm {
    width: 100%;
    text-align: center;
    margin: 16px 0;
    &__svg {
      width: 36%;
      min-width: 80px;
    }
    &__cap {
      font-size: 1rem;
      color: $gray;
    }
  }
  .award_txt {
    width: auto;
    margin: 0 auto;
    &__row {
      padding-bottom: 18px;
      &__property {
        font-weight: $weight-thin;
        font-size: 2.6rem;
      }
      &__contents {
        padding-top: 8px;
        font-size: 1.6rem;
        line-height: 1.5;
        p {
          margin-bottom: 4px;
        }
        td {
          padding-right: 4px;
        }
      }
    }
  }
}