
.information_lists{
  margin: 30px auto;
  margin-left: 164px;
  // width: calc(100% - 104px);
}

.information_list{
  @include flex($alignItems: center, $justifyContent: flex-start);
  margin: 48px 0;

  &_theme {
    font-weight: $weight-thin;
    font-size: 2.8rem;
    width: 184px;
  }

  &_content {
    font-size: 1.8rem;
    position: relative;
  }
}


@media screen and (max-width: $md) {
  .information_lists{
    margin-left: 100px;
  }

  .information_list{
    &_theme {
      font-size: 2.4rem;
      width: 152px;
    }

    &_content {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: $tb) {
  .information_lists{
    margin-left: 10%;
  }
  .information_list{
    &_theme {
      font-size: 2.0rem;
      width: 120px;
    }
    &_content {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 860px) {
  .information_lists{
    margin-left: 0;
  }
  .information_list_theme{
    font-size: 1.8rem;
    width: 100px;
  }
}

@media screen and (max-width: 740px) {
  .container {
    width: 92vw
  }
}
