.main_wrapper {
  position: relative;
}
.application_period {
  margin-top: 28px;
  margin-bottom: 30px;

  @include flex($alignItems: top, $justifyContent: flex-start);
  &_date {
    font-size: 2.8rem;
    font-family: $PT-sans;
  }

  &_text {
    margin-left: 50px;
    font-size: 2rem;
    font-family: $noto-sans;
    color: $gray-txt;
  }
}

.slant_1 {
  width: 50vw;
  z-index: -1;
  @include absolute($left:-32px, $bottom: -2px);
}

.application_large {
  position: relative;
  width: 50vw;
  margin-left: 16px;
  @include flex($alignItems: center, $justifyContent: flex-start); 
  &_date{
    font-size: 4rem;
    font-family: $PT-sans;
  }
  &_text{
    margin-left: 44px;
    font-size: 3.6rem;
    font-family: $PT-sans;
  }
}

.explanation {
  @include absolute($right:-24px, $bottom: 16px);
  padding: 8px 24px 12px;
  margin-left: auto;
  background-color: $black;
  &_text{
    color: $white;
  }
}

.contest_periods {
  padding: 16px 0;
}

.contest_period {
  margin-top: 28px;
  margin-bottom: 30px;
  margin-left: 48px;
  @include flex($alignItems: top, $justifyContent: flex-start);

  &_date {
    font-size: 2.8rem;
    font-family: $PT-sans;
  }

  &_text {
    margin-left: 50px;
    font-size: 2rem;
    font-family: $noto-sans;
    color: $gray-txt;
  }
}

