.SectionTitle {
  position: relative;
  text-align: center;
  font-family: $PT-sans;
  margin: 120px 0 80px;
}

.title_wrapper {
  font-size: 2.4rem;
  &::before{
    content: '';
    @include absolute($top: 30%, $right: 0, $left: 50%, $bottom: 0);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: inline-block;
    width: 35%;
    height: 20px;
    background-color: $white;
    z-index: -1;
  }
}

.threefeatures {
  &_three {
    width: 40px;
  }
  &_other {
    font-family: $noto-sans;
    display: inline;
  }
}

@media screen and (max-width: $md) {
  .title_wrapper {
    font-size: 2.4rem;
    &::before{
      width: 35%;
      height: 20px;
    }
  }
  .threefeatures {
    &_three {
      width: 40px;
    }
  }
}

@media screen and (max-width: $sm) {
  .SectionTitle{
    margin: 80px 0 60px;
    font-size: 1.8rem;
  }

  .title_wrapper {
    font-size: 1.4rem;
    &::before{
      width: 50%;
      height: 10px;
    }
  }
  .threefeatures {
    &_three {
      width: 20px;
    }
  }
}


