.SectionTitle {
  position: relative;
  text-align: center;
  font-family: $PT-sans;
  margin-bottom: 40px;
  font-size: 2.4rem;
  &::before{
    @include absolute($top: 30%, $right: 0, $left: 50%, $bottom: 0);
    content: '';
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: inline-block;
    width: 400px;
    height: 20px;
    background-color: $white;
    z-index: -1;
  }
}

.threefeatures {
  &_three {
    width: 40px;
  }
  &_other {
    display: inline;
  }
}


